@import '../../styles/mixins.scss';

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: whitesmoke;
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &__content {
        text-align: center;
    }

    &__title {
        font-size: 2.5rem;
        margin: 0 0 20px;
    }

    &__description {
        font-size: 1.25rem;
        margin: 0;
    }
}